recursive-include solox/public *.html *.js *.css *.png *.py
recursive-include solox/report *.html *.js *.css *.png *.py *.json *.log
recursive-include solox/static *.html *.js *.css *.png *.py
recursive-include solox/templates *.html *.js *.css *.png *.py
recursive-include solox/view *.html *.js *.css *.png *.py
recursive-include solox/public/adb *
